@import '../common-variable/common-variable.scss';
.create-box-main{
    width: 99%;
    height: 80px;
    background-color: map-get($bg , "_white" );
    padding: 5px;
    border-radius: 7px;
    -webkit-box-shadow: -1px 8px 4px -4px rgba(181,179,181,1);
    -moz-box-shadow: -1px 8px 4px -4px rgba(181,179,181,1);
    box-shadow: -1px 8px 4px -4px rgba(181,179,181,1);
    margin-top: 9px;

    .create-box-inner{
        display: flex;
        font-size: map-get($font-Size,"small");
        font-weight: 500;
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        -webkit-justify-content: space-around;
        justify-content: space-around;
       
       div{
        margin: 2px;
        flex-wrap: wrap;
       }
      .box-item{
        padding-left: 5px;
        width: 100px;
        text-align: center;
      }
      .card{
        font-weight: bold;
        font-size: 18px;
        div{
            font-size: 11px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(153, 153, 153);
        }
      }
      .rupees{
        font-weight: bold;
        font-size: 18px;
        div{
            font-size: 11px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(153, 153, 153);
        }
    }

      .pup_up{
          position: relative;
          .pup_up-inner{
            font-size: map-get($font-Size,"larg")!important;
            color: rgb(168, 167, 167);
            transform: rotate(90deg);
            cursor: pointer;
          }
          .pup_up-box{
            height: 150px;
            position: absolute;
            top: 3px;
            left: -160px;
            z-index: 100;
            background-color: rgb(241, 237, 237);
            box-shadow: -1px 8px 4px -4px #b5b3b5;
            width: 170px;
            padding: 5px;
            border-radius: 6px;
            display: none;
          }
      }
      .img  { 
        height: 70px;
    }
    .normal-card {
      background-image: url("../../asset/visa-img.png");
      background-repeat: no-repeat;
    }
    .block-card{
      background-image: url("../../asset/visa-img_block.png");
      background-repeat: no-repeat;
    }
    .lock-card{
      background-image: url("../../asset/visa-img_lock.png");
      background-repeat: no-repeat;
    }
    .card { flex: 1; 
        text-align: left !important;
    }
    .rupees { flex: 1; 
        text-align: right !important;
    }

    .show{
      display: block !important;
    }
    }

}


