@import '../common-variable/common-variable.scss';
.main-app{
font-size:map-get($font-Size,"normal");
background-color:map-get($bg ,"_red");
color:map-get($color, _white);
font-weight: bold;
height: 60px;
.tab-section{
    padding: 12px;
}


}
.body-section {
    color:map-get($color, _black);
    padding: 10px;
    height: auto;
    background-color: map-get($bg, "_gray")
}