$bg:("_red":rgb(161, 14, 14), "_gray":rgb(235, 232, 232),
"success":#7DBD30,"danger":#FA730F,
"warning":#FDDC48, "_white":rgb(255, 255, 255), "_black":black);


$font-Size:("small":14px, "normal":20px, "larg":30px);;
$color:("_black":#000000, "_white":#FFFFFF,
"_red":#F70000,"_yello":#FFF80C,"_green":#047600)